beautifulsoup4==4.12.3
dash==2.17.1
dash-bootstrap-components==1.6.0
dash_ag_grid==31.2.0
dash_auth==2.3.0
pandas==2.2.2
requests==2.32.3
gunicorn~=22.0.0
argon2-cffi~=23.1.0
bs4~=0.0.2
Flask~=3.0.3
python-pptx~=1.0.2